.App {
  text-align: center;
}

.App.tree .children {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.App.tree .Card {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  font-size: 1vmin;
}

.Card {
  border: 10px solid rgb(230, 229, 229);
  padding: 20px;
  margin: 10px 10px 40px 10px;
  outline-width: 1px;
  animation: create 0.5s;
}

@keyframes create {
  0% {
    padding: 10px;
  }
  30% {
    padding: 30px;
  }
  100% {
    padding: 10px;
  }
}

.Card .Card {
  border: none;
  outline-color: rgb(110, 110, 110);
  outline-style: solid;
  background: rgb(240, 240, 240);
}
.Card .Card .Card {
  outline-color: rgb(183, 182, 182);
  background: rgb(245, 245, 245);
}
.Card .Card .Card .Card {
  outline-color: rgb(225, 223, 223);
  background: rgb(253, 253, 253);
}

.Card > .Card .children {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.Card .children {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px 15px;
  border-radius: 3px;
  margin: 10px 0;
  text-transform: capitalize;
}
.App-link {
  color: #09d3ac;
}
