.App {
  text-align: center;
}

.Card {
  border: 10px solid rgb(230, 229, 229);
  padding: 20px;
  margin: 10px 10px 40px 10px;
}

.Card .Card {
  border: none;
  outline: 2px solid rgb(110, 110, 110);
  background: rgb(240, 240, 240);
}
.Card .Card .Card {
  outline: 2px solid rgb(183, 182, 182);
  background: rgb(245, 245, 245);
}
.Card .Card .Card .Card {
  outline: 1px solid rgb(225, 223, 223);
  background: rgb(253, 253, 253);
}

.Card > .Card .children {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.Card .children {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

button {
  padding: 10px 15px;
  border-radius: 3px;
}
.App-link {
  color: #09d3ac;
}
